.heroCommon{
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, .5);
    position: relative;
}

.heroCommon::before{
    content: " ";
    background: url("https://images.unsplash.com/photo-1623208578388-dc9e20f97132?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heroCommon h1{
    font-size: 2.4rem;
}

.heroCommon p{
    font-size: 1.4rem;
    text-align: center;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width){

    .heroCommon h1{
        font-size: 2rem;
    }
}